#
# Fixing versions
#  we depend on solaredge_modbus and the latest version is 0.8.0
#  solaredge_modbus 0.8.0 does not work with pymodbus versions newer than 3.6.9
#
pymodbus==3.6.9
solaredge_modbus==0.8.0
